*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: rgb(152, 160, 160);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 50px;
}
.profile-card{
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.3s;
    width: 40%;
    height: 600px;
    margin:0px 300px 0px ;
    align-items: center;
    border-radius: 10px;
}
.profile-card img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #FEE2E2;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 9999px;
}
.name-title{
    margin: 20px 130px 0px ;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.Occupation{
    text-align: center;
    margin: 10px 130px 0px ;
    color: rgb(37, 35, 35);
}
.short-description{
    text-align: center;
    margin: 30px 10px 10px ;
    justify-content: center;
    color: #6B7280;
    padding: 30px;
    line-height: 20pt;
}
.contact-info{
    margin-top: 70px;
    display: flex;
}
.contact-info > div{
    color: #6B7280;
    width: 320px;
    margin-bottom: 35px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}
.email{
    font-size: 10px;
    margin-left: 20px;
}
.phone{

    margin-left:100px ;
}
.email p{
    font-size: 12px;
}
.phone p{
    font-size: 12px;
}
